<mat-toolbar color="primary">
  <span>Mass Transit System</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <div class="sidebar">
      <h3>Scenario Configuration</h3>
      <mat-card>
        <p>Select Scenario Configuration:&nbsp;&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="configFileInput.click()">Upload</button></p>
        <input hidden type="file" #configFileInput>
        <p>Select Probability Parameters:&nbsp;&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="parametersFileInput.click()">Upload</button></p>
        <input hidden type="file" #parametersFileInput>
      </mat-card>
      <!--<input hidden type="file" #parametersFileInput>-->
      <h3>Run Simulation</h3>
      <mat-card>
        <button mat-raised-button color="primary" (click)="startSim.click()">Start</button>
      </mat-card>
      <h3>Simulation Controls</h3>
      <mat-card>
        <button mat-raised-button color="primary" (click)="startSim.click()">Move Bus</button>
      </mat-card>
      <mat-card>
        <mat-radio-group>
          <mat-radio-button value="1">
            One&nbsp;&nbsp;
          </mat-radio-button>
          <mat-radio-button value="2">
            Two&nbsp;&nbsp;
          </mat-radio-button>
          <mat-radio-button value="3" [checked]="isChecked">
            Three&nbsp;&nbsp;
          </mat-radio-button>
        </mat-radio-group>
      </mat-card>
      <mat-card>
      <button mat-raised-button color="primary" (click)="startSim.click()">Replay</button>
      </mat-card>
      <mat-card>
        <button mat-raised-button color="primary" (click)="startSim.click()">Reset Buses</button>
      </mat-card>
    </div>
  </mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>
