/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;  background: #eee;}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidebar {
  justify-content: center;
  min-width: 21em;
}

mat-card {
  justify-content: center;
}

.map {
  justify-content: center;
  background: #aaaaaa;
  min-height: 53em;
  max-width: 63em;
}
